astroid==1.6.6
backports.functools-lru-cache==1.5
certifi==2019.3.9
chardet==3.0.4
cheroot==6.5.5
CherryPy==17.4.1
click==7.1.2
configparser==3.7.4
contextlib2==0.5.5
enum34==1.1.6
Flask==1.1.2
futures==3.2.0
idna==2.8
isort==4.3.20
itsdangerous==1.1.0
jaraco.functools==2.0
Jinja2==2.11.2
lazy-object-proxy==1.4.1
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==5.0.0
numpy==1.16.3
portend==2.4
pycairo==1.18.0
PyGObject==3.32.1
pylint==1.9.4
pytz==2019.1
requests==2.21.0
scipy==1.2.1
singledispatch==3.4.0.3
six==1.12.0
tempora==1.14.1
urllib3==1.24.3
Werkzeug==1.0.1
wrapt==1.11.1
zc.lockfile==1.4